.App {
  text-align: center;
}

html {
  font-family: Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.inbox {
  background-color: gainsboro;
  padding: 10px;
}

.page {
  position: relative;
}

.switch {
  width: 84vw;
  position: absolute;
  right: 20px;
  text-align: left;
}

.nav {
  position: absolute;
  left: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav button {
  outline: 1px solid blue;
  font-size: 14pt;
  margin: 5px 0;
  border: 0;
}

.emailComp {
  display: flex;
  flex-direction: column;
}

.body {
  height: 60vh;
}

.singleEmail {
  width: 100%;
  padding: 0 10px;
  text-align: left;
  border: 0;
  outline: 1px solid gray;
}