.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.inbox {
  background-color: blue;
}

.page {
  position: relative;
}

.switch {
  width: 84vw;
  position: absolute;
  right: 20px;
  text-align: left;
}

.nav {
  position: absolute;
  left: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav button {
  border: red solid 1px;
}

.emailComp {
  display: flex;
  flex-direction: column;
}

.body {
  height: 60vh;
}