.App {
  text-align: center;
}

html {
  background-color: navy;
  color: navy;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.back h1 {
  background-color: gainsboro;
  margin: 0 0 40px 0;
  padding: 20px;
}

.inbox {
  background-color: gainsboro;
  padding: 10px;
}

.page {
  position: relative;
  background-color: inherit;
}

.page h1 {
  margin: 0;
}

.switch {
  width: 84vw;
  position: absolute;
  right: 40px;
  background-color: inherit;
  text-align: left;
}

ul {
  padding: 0; 
}

.nav {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.nav ul {
  display: flex;
  margin: 0;
  flex-direction: column;
  list-style: none;
}

.nav button {
  font-size: 14pt;
  margin: 0;
  padding: 6px 6px 6px 40px;
  border: 0;
  background-color: gainsboro;
  color: navy;
}

.emailComp {
  display: flex;
  flex-direction: column;
}

.body {
  height: 50vh;
}

.singleEmail {
  width: 100%;
  padding: 0 10px;
  text-align: left;
  border: 0;
  outline: 1px solid gray;
  color: navy;
}

.singleEmail p {
  margin: 5px;
  font-size: 12pt;
}